**Akbank Machine Learning Bootcamp Projesi**


Merhabalar, bu projemde Machine Learninge giriş kapsamında bir projemden bahsedeceğim.İlk etapta bize gerekli olan kütüphanelerimizi **import** edelim.

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.tree import DecisionTreeClassifier

Ben veri setimi "Birleşik Arap Emirlikleri'ndeki ikinci el araç fiyatları" olarak seçtim.Bu aşamamızda da veri setimizi **import** edelim.

In [12]:
df = pd.read_csv('/kaggle/input/uae-used-cars-analysis-full-project-v1-0/uae_used_cars_10k.csv')

Bu projede aracın yılı,kilometresi,şansızaman çeşidi,yakıt türü,marka ve modelinden fiyatını tahmin etmeye çalışacağız. Şimdi veri setimizle alakalı bilgi edinelim.

In [13]:
df.head()

,Make,Model,Year,Price,Mileage,Body Type,Cylinders,Transmission,Fuel Type,Color,Location,Description
0,toyota,camry,2016,47819,156500,Sedan,4,Automatic Transmission,Gasoline,Black,Dubai,"2016 toyota camry with Rear camera, Leather se..."
1,kia,sorento,2013,61250,169543,SUV,4,Automatic Transmission,Gasoline,Grey,Abu Dhabi,"2013 kia sorento with Sunroof, Adaptive cruise..."
2,mini,cooper,2023,31861,221583,Soft Top Convertible,4,Automatic Transmission,Gasoline,Grey,Dubai,"2023 mini cooper with Adaptive cruise control,..."
3,nissan,altima,2016,110322,69754,Sedan,4,Automatic Transmission,Gasoline,Red,Dubai,"2016 nissan altima with Rear camera, Adaptive ..."
4,toyota,land-cruiser-76-series,2020,139994,71399,Pick Up Truck,4,Manual Transmission,Gasoline,White,Dubai,2020 toyota land-cruiser-76-series with Adapti...

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Price         10000 non-null  int64
 4   Mileage       10000 non-null  int64
 5   Body Type     10000 non-null  object
 6   Cylinders     9895 non-null   object
 7   Transmission  10000 non-null  object
 8   Fuel Type     10000 non-null  object
 9   Color         10000 non-null  object
 10  Location      10000 non-null  object
 11  Description   10000 non-null  object
dtypes: int64(3), object(9)
memory usage: 937.6+ KB

Gördüğünüz üzere Body type, Cylinders, Color ve Description verilerini kullanmak istemediğim için silmek istiyorum.

In [15]:
df = df.drop(columns=['Body Type', 'Cylinders', 'Color','Description','Location'])

In [16]:
df.head()

,Make,Model,Year,Price,Mileage,Transmission,Fuel Type
0,toyota,camry,2016,47819,156500,Automatic Transmission,Gasoline
1,kia,sorento,2013,61250,169543,Automatic Transmission,Gasoline
2,mini,cooper,2023,31861,221583,Automatic Transmission,Gasoline
3,nissan,altima,2016,110322,69754,Automatic Transmission,Gasoline
4,toyota,land-cruiser-76-series,2020,139994,71399,Manual Transmission,Gasoline

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Price         10000 non-null  int64
 4   Mileage       10000 non-null  int64
 5   Transmission  10000 non-null  object
 6   Fuel Type     10000 non-null  object
dtypes: int64(3), object(4)
memory usage: 547.0+ KB

Artık görüldüğü üzere daha sade bir görüntümüz var. Fakat Transmission, Fuel Type ve Location verilerimiz object tipinde olduğu için makine öğrenmesinde bu şekilde kullanamayız. One-Hot Encodingg yöntemini kullanarak

In [18]:
ohe = OneHotEncoder()
new = ohe.fit_transform(df[['Make','Model','Transmission','Fuel Type']]).toarray()
ohe.get_feature_names_out()

array(['Make_acura', 'Make_alfa-romeo', 'Make_aston-martin', 'Make_audi',
       'Make_baic', 'Make_bentley', 'Make_bmw', 'Make_cadillac',
       'Make_changan', 'Make_chevrolet', 'Make_chrysler', 'Make_citroen',
       'Make_daihatsu', 'Make_dodge', 'Make_ferrari', 'Make_fiat',
       'Make_ford', 'Make_gac', 'Make_geely', 'Make_genesis', 'Make_gmc',
       'Make_haval', 'Make_honda', 'Make_hummer', 'Make_hyundai',
       'Make_infiniti', 'Make_isuzu', 'Make_jaguar', 'Make_jeep',
       'Make_jetour', 'Make_kia', 'Make_lamborghini', 'Make_land-rover',
       'Make_lexus', 'Make_lincoln', 'Make_lotus', 'Make_maserati',
       'Make_maybach', 'Make_mazda', 'Make_mclaren', 'Make_mercedes-benz',
       'Make_mercedes-maybach', 'Make_mercury', 'Make_mg', 'Make_mini',
       'Make_mitsubishi', 'Make_morgan', 'Make_nissan', 'Make_opel',
       'Make_other-make', 'Make_peugeot', 'Make_porsche', 'Make_renault',
       'Make_rolls-royce', 'Make_rover', 'Make_saab', 'Make_skoda',
       'Make_smart', 'Make_subaru', 'Make_suzuki', 'Make_tesla',
       'Make_toyota', 'Make_volkswagen', 'Make_volvo',
       'Make_westfield-sportscars', 'Model_09-Mar', 'Model_1-series',
       'Model_124-spider', 'Model_156159', 'Model_2-series', 'Model_2008',
       'Model_200cev200', 'Model_206cc', 'Model_207', 'Model_208',
       'Model_280zx', 'Model_3', 'Model_3-series', 'Model_3008',
       'Model_3008-gt-line', 'Model_300m300c', 'Model_300zx', 'Model_301',
       'Model_308', 'Model_370z', 'Model_4-runner', 'Model_4-series',
       'Model_458', 'Model_458-italia', 'Model_458-spider', 'Model_488',
       'Model_488-gtb', 'Model_488-spider', 'Model_4c', 'Model_5-series',
       'Model_500x', 'Model_5045', 'Model_508', 'Model_57', 'Model_570gt',
       'Model_570s', 'Model_599', 'Model_599gtb', 'Model_6',
       'Model_6-series', 'Model_650s', 'Model_675lt', 'Model_7-series',
       'Model_720s', 'Model_8-series', 'Model_812-gts',
       'Model_812-superfast', 'Model_86', 'Model_a-class', 'Model_a200',
       'Model_a3', 'Model_a4', 'Model_a5', 'Model_a6', 'Model_a7',
       'Model_a8', 'Model_acadia', 'Model_accent', 'Model_accord',
       'Model_aero-8', 'Model_altima', 'Model_amg',
       'Model_amg-gt-4-doors', 'Model_armada', 'Model_arteon',
       'Model_astra', 'Model_asx', 'Model_ats', 'Model_attrage',
       'Model_aurion', 'Model_avalon', 'Model_avanti', 'Model_avanza',
       'Model_aventador', 'Model_aveo', 'Model_aviator', 'Model_azera',
       'Model_azure', 'Model_baleno', 'Model_beetle', 'Model_bentayga',
       'Model_bj40l', 'Model_blazer', 'Model_boxster', 'Model_bronco',
       'Model_brz', 'Model_c-class', 'Model_c-class-coupe', 'Model_c-hr',
       'Model_c4', 'Model_c43', 'Model_c5', 'Model_cadenza',
       'Model_california', 'Model_california-t', 'Model_camaro',
       'Model_camry', 'Model_canter', 'Model_caprice', 'Model_captiva',
       'Model_captur', 'Model_carens', 'Model_carnival', 'Model_carrera',
       'Model_cavalier', 'Model_cayenne', 'Model_cayman', 'Model_cc',
       'Model_centennial', 'Model_cerato', 'Model_challenger',
       'Model_charger', 'Model_cherokee', 'Model_city', 'Model_civic',
       'Model_cl-class', 'Model_cla', 'Model_clio', 'Model_clk-class',
       'Model_cls-class', 'Model_clubman', 'Model_compass',
       'Model_continental', 'Model_continental-flying-spur',
       'Model_continental-gt', 'Model_cooper', 'Model_corolla',
       'Model_corolla-cross', 'Model_corvette', 'Model_countryman',
       'Model_cr-v', 'Model_creta', 'Model_crosstour', 'Model_crown',
       'Model_cruze', 'Model_cs75', 'Model_cs95', 'Model_ct4',
       'Model_ct5', 'Model_ct6', 'Model_ctscatera', 'Model_cullinan',
       'Model_cx-5', 'Model_cx-9', 'Model_dart', 'Model_dawn',
       'Model_db11', 'Model_db9', 'Model_dbs', 'Model_defender',
       'Model_discovery', 'Model_discovery-sport', 'Model_dokker',
       'Model_dtsde-ville', 'Model_durango', 'Model_duster',
       'Model_dzire', 'Model_e-class', 'Model_e-class-coupe',
       'Model_e-pace', 'Model_e-tron', 'Model_ecosport', 'Model_edge',
       'Model_elantra', 'Model_elva', 'Model_emgrand-8',
       'Model_emgrand-gt', 'Model_eos', 'Model_eqa', 'Model_equinox',
       'Model_ertiga', 'Model_es-series', 'Model_escalade',
       'Model_escape', 'Model_evolution', 'Model_evora', 'Model_ex35',
       'Model_expedition', 'Model_expert', 'Model_explorer',
       'Model_f-pace', 'Model_f-series-pickup', 'Model_f-type',
       'Model_f12', 'Model_f430', 'Model_f8-tributo',
       'Model_f8-tributo-spider', 'Model_fiat-500', 'Model_fiesta',
       'Model_figo', 'Model_fj-cruiser', 'Model_fleetwood', 'Model_flex',
       'Model_fluence', 'Model_focus', 'Model_fortuner', 'Model_fusion',
       'Model_fx45fx35', 'Model_fx50', 'Model_g-class', 'Model_g25',
       'Model_g70', 'Model_g90', 'Model_gallardo', 'Model_gc6',
       'Model_genesis', 'Model_ghibli', 'Model_ghost', 'Model_giulia',
       'Model_giulietta', 'Model_gl-class', 'Model_gla',
       'Model_gladiator', 'Model_glb', 'Model_glc', 'Model_glc-63',
       'Model_gle-class', 'Model_gle-coupe', 'Model_glk',
       'Model_gls-class', 'Model_golf', 'Model_golfr', 'Model_gran-max',
       'Model_grand-cherokee', 'Model_grand-marquis',
       'Model_grand-vitara', 'Model_granturismo', 'Model_gs-series',
       'Model_gs4', 'Model_gseries', 'Model_gt', 'Model_gt-r',
       'Model_gtc4-lusso', 'Model_gti', 'Model_gv80', 'Model_gx-series',
       'Model_h1', 'Model_h2', 'Model_h3', 'Model_h9',
       'Model_heavy-vehicles', 'Model_hiace', 'Model_highlander',
       'Model_hilux', 'Model_hr-v', 'Model_hs', 'Model_huracan',
       'Model_i10', 'Model_id4', 'Model_id6', 'Model_impala',
       'Model_innova', 'Model_insignia', 'Model_is-c', 'Model_is-f',
       'Model_is-series', 'Model_jazz', 'Model_jetta', 'Model_jimny',
       'Model_juke', 'Model_jxseries', 'Model_k5', 'Model_kicks',
       'Model_kizashi', 'Model_koleos', 'Model_kona', 'Model_koup',
       'Model_l200', 'Model_lancer', 'Model_land-cruiser',
       'Model_land-cruiser-76-series', 'Model_legacy', 'Model_levante',
       'Model_lr2', 'Model_lr3', 'Model_lr4', 'Model_ls-series',
       'Model_lx-series', 'Model_lx600', 'Model_m-class', 'Model_m2',
       'Model_m3', 'Model_m4', 'Model_m5', 'Model_m6', 'Model_m8',
       'Model_macan', 'Model_magnum', 'Model_malibu', 'Model_maxima',
       'Model_megane', 'Model_micra', 'Model_mini-coupe', 'Model_mirage',
       'Model_mkc', 'Model_mks', 'Model_mkt', 'Model_mkx', 'Model_mkz',
       'Model_model-3', 'Model_model-s', 'Model_model-x', 'Model_model-y',
       'Model_mohave', 'Model_mondeo', 'Model_montero',
       'Model_montero-sport', 'Model_mp412c', 'Model_mulsanne',
       'Model_murano', 'Model_mustang', 'Model_nautilus', 'Model_navara',
       'Model_navigator', 'Model_nx-200t', 'Model_nx-300', 'Model_nx-350',
       'Model_octavia', 'Model_odyssey', 'Model_odyssey-j',
       'Model_optima', 'Model_optra', 'Model_other', 'Model_other-4x4',
       'Model_outlander', 'Model_p1', 'Model_pajero',
       'Model_pajero-sport', 'Model_palisade', 'Model_panamera',
       'Model_partner', 'Model_passat', 'Model_pathfinder',
       'Model_patrol', 'Model_phantom', 'Model_picanto', 'Model_pickup',
       'Model_pilot', 'Model_polo', 'Model_portofino', 'Model_prado',
       'Model_previa', 'Model_pt-cruiser', 'Model_q2', 'Model_q3',
       'Model_q30', 'Model_q5', 'Model_q50', 'Model_q60', 'Model_q7',
       'Model_q70', 'Model_q8', 'Model_q80', 'Model_quattroporte',
       'Model_quest', 'Model_quoris', 'Model_qx50', 'Model_qx56',
       'Model_qx60', 'Model_qx70', 'Model_r-class', 'Model_r8',
       'Model_ram', 'Model_range-rover', 'Model_range-rover-evoque',
       'Model_range-rover-sport', 'Model_range-rover-velar',
       'Model_ranger', 'Model_rapide', 'Model_rav-4', 'Model_rc',
       'Model_rc-f', 'Model_rdx', 'Model_renegade', 'Model_rio',
       'Model_rogue', 'Model_roma', 'Model_rs6', 'Model_rsq3',
       'Model_rush', 'Model_rx-series', 'Model_rx5', 'Model_s-class',
       'Model_s-class-coupe', 'Model_s3rs3', 'Model_s4rs4', 'Model_s500',
       'Model_s5rs5', 'Model_s7rs7', 'Model_s8', 'Model_santa-fe',
       'Model_savana', 'Model_scaglietti', 'Model_scion',
       'Model_scirocco', 'Model_sedona', 'Model_senna', 'Model_sentra',
       'Model_sequoia', 'Model_sf90-stradale', 'Model_shelby-cobra',
       'Model_sienna', 'Model_sierra', 'Model_silver-spur',
       'Model_silverado', 'Model_sl-class', 'Model_slc',
       'Model_slk-class', 'Model_slr', 'Model_sls', 'Model_sonata',
       'Model_sonic', 'Model_sorento', 'Model_soul', 'Model_spark',
       'Model_special-edition', 'Model_sportage', 'Model_sprinter',
       'Model_srx', 'Model_stelvio', 'Model_stinger', 'Model_suburban',
       'Model_sunny', 'Model_supra', 'Model_swift', 'Model_symbol',
       'Model_tacoma', 'Model_tahoe', 'Model_taurus', 'Model_taycan',
       'Model_telluride', 'Model_teramont', 'Model_terrain',
       'Model_tiguan', 'Model_tiida', 'Model_titan', 'Model_touareg',
       'Model_town-car', 'Model_trailblazer', 'Model_transporter',
       'Model_traverse', 'Model_trax', 'Model_trooper', 'Model_tt',
       'Model_tucson', 'Model_tundra', 'Model_urus', 'Model_ux-200',
       'Model_v-class', 'Model_van', 'Model_vanquish', 'Model_vantage',
       'Model_veloster', 'Model_veracruz', 'Model_versa', 'Model_viano',
       'Model_wraith', 'Model_wrangler', 'Model_wrangler-unlimited',
       'Model_wrx', 'Model_x-class', 'Model_x-trail', 'Model_x1',
       'Model_x2', 'Model_x3', 'Model_x4', 'Model_x5', 'Model_x6',
       'Model_x7', 'Model_x70', 'Model_xc60', 'Model_xc90', 'Model_xe',
       'Model_xf', 'Model_xj-series', 'Model_xj6', 'Model_xk',
       'Model_xkr', 'Model_xpander', 'Model_xt4', 'Model_xt5',
       'Model_xt6', 'Model_xterra', 'Model_xts', 'Model_yaris',
       'Model_yukon', 'Model_z4', 'Model_zelas',
       'Transmission_Automatic Transmission',
       'Transmission_Manual Transmission', 'Fuel Type_Diesel',
       'Fuel Type_Electric', 'Fuel Type_Gasoline', 'Fuel Type_Hybrid'],
      dtype=object)

In [19]:
new = pd.DataFrame(new)
new.columns = ohe.get_feature_names_out()
new

,Make_acura,Make_alfa-romeo,Make_aston-martin,Make_audi,Make_baic,Make_bentley,Make_bmw,Make_cadillac,Make_changan,Make_chevrolet,...,Model_yaris,Model_yukon,Model_z4,Model_zelas,Transmission_Automatic Transmission,Transmission_Manual Transmission,Fuel Type_Diesel,Fuel Type_Electric,Fuel Type_Gasoline,Fuel Type_Hybrid
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9996,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

Artık her birinin kendine özgü sutunu var. Şimdi de oluşturduğumuz bu listeyi eski listeye ekleyelim.

In [20]:
df = df.drop(columns=['Make', 'Model', 'Transmission', 'Fuel Type'])
df = pd.concat([df, new], axis=1)

In [21]:
df.head()

,Year,Price,Mileage,Make_acura,Make_alfa-romeo,Make_aston-martin,Make_audi,Make_baic,Make_bentley,Make_bmw,...,Model_yaris,Model_yukon,Model_z4,Model_zelas,Transmission_Automatic Transmission,Transmission_Manual Transmission,Fuel Type_Diesel,Fuel Type_Electric,Fuel Type_Gasoline,Fuel Type_Hybrid
0,2016,47819,156500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,2013,61250,169543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,2023,31861,221583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,2016,110322,69754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,2020,139994,71399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

Evet, artık One-Hot Encoding işlemimizi tamamladık. Bu sayede veri setimiz makine öğrenmesi için kullanılmaya hazır hale geldi.

In [22]:
df.describe()

,Year,Price,Mileage,Make_acura,Make_alfa-romeo,Make_aston-martin,Make_audi,Make_baic,Make_bentley,Make_bmw,...,Model_yaris,Model_yukon,Model_z4,Model_zelas,Transmission_Automatic Transmission,Transmission_Manual Transmission,Fuel Type_Diesel,Fuel Type_Electric,Fuel Type_Gasoline,Fuel Type_Hybrid
count,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000,10000.000000,...,10000.000000,10000.0000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2014.472800,2.452345e+05,155161.871700,0.000200,0.002300,0.003400,0.039700,0.0001,0.013800,0.069800,...,0.004200,0.0062,0.001500,0.000200,0.962600,0.037400,0.015300,0.011000,0.971400,0.002300
std,5.790839,4.709773e+05,83681.858983,0.014141,0.047906,0.058213,0.195263,0.0100,0.116666,0.254822,...,0.064674,0.0785,0.038703,0.014141,0.189749,0.189749,0.122749,0.104308,0.166688,0.047906
min,2005.000000,7.183000e+03,10006.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2009.000000,5.035250e+04,82904.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,2014.000000,1.027660e+05,154370.500000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2019.000000,2.312480e+05,227551.250000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,2024.000000,1.468698e+07,299996.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,...,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Şimdi de bağımlı "tahmin etmek istedigimiz(price)" ve bağımsız yani kalan değişkenlerimizi ayıralım.

In [23]:
X = df.drop("Price", axis=1)
y = df["Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Ben ilk olarak **Lineer Regresyon** algoritmasını kullanacağım.

In [24]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)

In [25]:
r2 = r2_score(y_test, y_pred_lr)
mae = mean_absolute_error(y_test, y_pred_lr)
rmse = mean_squared_error(y_test, y_pred_lr, squared=False)

print(f"Lineer Regresyon Sonuçları:")
print(f"R²: {r2:.4f}")
print(f"MAE: {mae:.2f}")
print(f"RMSE: {rmse:.2f}")

Lineer Regresyon Sonuçları:
R²: -836649474.8114
MAE: 746306933.28
RMSE: 14810445637.01

Lineer Regresyon modelimiz başarısız çıktı. R²<0 olduğu durumlarda lineer regresyonumuz ortalamanın çok altında kabul edilir. Bu yüzden lineer regresyon kullanmak yanlış olur.

Şimdi bir diğer yöntemimiz olan **Lojistik Regresyonu** kullanalım. Bu yöntem fiyatımızı yüksek ya da düşük olarak katogarize edip ona göre sonuç sunacak.İlk olarak fiyatımızı katogarize edelim.

In [26]:
median_price = df['Price'].median()
df['Price_Category'] = df['Price'].apply(lambda x: 1 if x > median_price else 0)

In [ ]:
X = df.drop(columns=['Price', 'Price_Category'])  
y = df['Price_Category']

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LogisticRegression(solver='liblinear', max_iter=200)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Doğruluk Skoru:", accuracy_score(y_test, y_pred))
print("Sınıflandırma Raporu:\n", classification_report(y_test, y_pred))

Doğruluk skorumuz 0.797 yani %79.7 olarak çıktı. Bu sadece yüksek ya da ucuz fiyat üzerinden yaptığımız bir değerlenmdirme olduğu için ortalama bir sonuç oldu. Şimdi daha iyi sonuç veren başka bir algoritma bulabilecek miyiz ona bakacağız.

Şimdiki yöntemimiz ise **Desicion Tree** yani karar ağacı algoritması.

In [ ]:
median_price = df['Price'].median()
df['Price_Category'] = df['Price'].apply(lambda x: 1 if x > median_price else 0)

X = df.drop(columns=['Price', 'Price_Category'])
y = df['Price_Category']

X = pd.get_dummies(X)

model = DecisionTreeClassifier(random_state=42, max_depth=5)  # max_depth overfitting'i engeller
model.fit(X_train, y_train)

# Tahmin yapma
y_pred = model.predict(X_test)

# Performans değerlendirme
print("Doğruluk Skoru:", accuracy_score(y_test, y_pred))
print("Sınıflandırma Raporu:\n", classification_report(y_test, y_pred))

Bu yöntemimizde ise doğruluk skorumuz 0.622 geldi. Bu demek oluyorki %62.2 doğruluk payı var. Bu da ortalama bir doğruluk değeri olarak karar kılabiliriz.

Son bir yöntem olarak **Random Forest Regresyonunu** deneyeceğim ve içlerinden en iyi sonucu vereni seçip ana yöntemim olarak kullanacağım.

In [ ]:
X = df.drop(columns=['Price'])  # Özellikler
y = df['Price']  # Hedef değişken

X = pd.get_dummies(X)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print(f"R2 Skoru: {r2:.4f}")
print(f"RMSE: {rmse:.2f}")

Lineer Regresyon ve Random Forest Regresyonu hemen hemen aynı sonuçları verdi. Bu yüzden ikisini de seçebiliriz.